# big MD / binaries
*.xtc
*.trr
*.dcd
*.tpr
*.gro
*.cpt
*.edr

# python junk
__pycache__/
*.pyc
.DS_Store

# too-large files
*.vmd
traj/**/test
traj/all-host-pdbs/*.pdb

mdahole2/
pywindow/

mdahole2/
pywindow/
